@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="projectId" value="${ProjectManager.projectId}">
			<input type="hidden" id="projectTemplateIdValue" value="${ProjectManager.projectTemplateId}">
			<input type="hidden" id="projectTypeValue" value="${ProjectManager.projectType}">
            <div class="row">
                <div class="col-sm-6 b-r">
					<#input id="projectName" name="项目名称" value="${ProjectManager.projectName}" underline="true" />
					<#input id="businessName" name="业务名称" value="${ProjectManager.businessName}" underline="true" />
					<#select id="projectTemplateId" name="项目模板">
                        <option  value="0">1.0模板</option>
                        <option  value="1">2.0模板</option>
                        <option  value="2">3.0模板</option>
                    </#select>
                </div>

                <div class="col-sm-6">
					<#select id="projectType" name="项目类型" underline="true" >
                        <option  value="0">java项目</option>
                        <option  value="1">go项目</option>
                    </#select>
					 <div class="form-group">
                        <label class="col-sm-3 control-label">项目描述</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="description" type="text" style="height: 100px;">${ProjectManager.description}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProjectManagerInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProjectManagerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/ProjectManager/ProjectManager_info.js"></script>
@}
